.sb {
    height: 4em;
    width: 10em;
    position: relative;
    top: 20em;
    margin-left: 2%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Noto serif';
    transition: 0.2s;
    font-size: clamp(1px, 2vw, 15px);
}

.sb:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.2s;
    cursor: none;
}

.sd {
    height: 4em;
    width: 10em;
    position: relative;
    top: 20em;
    margin-left: 2%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Noto serif';
    transition: 0.2s;
    font-size: clamp(1px, 2vw, 15px);
}

.sd:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.2s;
    cursor: none;
}

.container-agenda {
     -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  overflow-x: auto;
    overscroll-behavior: contain; 
}

.container-agenda, iframe {
    display: block;
    text-align: center;
    width: 100%;
    height: 85vh;
    margin: auto;
    margin-top: 1em:
}

.container-class-select {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 3em;
    gap: 1em;
}

a {
    text-decoration: none;
}

.nineb-button {
    top: clamp(1px, 2.5vw, 20px);
    font-size: clamp(1px, 2.3vw, 20px);
    border: 0px solid;
    border-radius: 8px;
    text-align: center;
}

.nined-button {
    top: clamp(1px, 2.5vw, 20px);
    font-size: clamp(1px, 2.3vw, 20px);
    border: 0px solid;
    border-radius: 8px;
    text-align: center;
}

#active {
    color: black;
    background-color: white;
    width: clamp(40px, 3vw, 100px);

}

#not-active {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    width: clamp(40px, 2.8vw, 100px);
}
@media (max-width:900px) { 
    .home-text-1 {
    position: relative;
    top: 3vh;
    } 
}
@media (min-width:900px) { 
    .home-text-1 {
    position: relative;
    top: 6vh;
    } 
}
