@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+IN+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@media screen and (max-width:768px){
    .container {
    display: inline-block;
    top: clamp(3vw,3vw,4vw);
    }   
}
@media screen and (min-width: 768px) {
    .container {
    display: inline-block;
    top: clamp(6vw,6vw,7vw);
    }   
}
.parent-container {
    display: flex;
    column-gap: 20px;
    top: 3vw;
}

.home-text-1 {
    color: rgb(255, 255, 255);
    font-family: Mabry Pro;
    font-size: clamp(25px, 4vw, 90px);
    font-weight: 550;
    display: inline-block;
    position: relative;
    top: clamp(16px, 1em, 20px);
    left: 2%;
    border-right: 5px solid;
    /* typing animation bla bla */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s, cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0; }
}


.home-subtext-1 {
    position: relative;
    font-size: clamp(2px, 3vw, 20px);
    top: 1em;
    padding-left: 2%;
    max-width: 70%;
}

.catatan-woi {
    height: 4em;
    width: 10em;
    position: relative;
    top: 20em;
    margin-left: 2%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Noto serif';
    transition: 0.2s;
    font-size: clamp(1px, 2vw, 15px);
}

.catatan-woi:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.2s;
    cursor: none;
}

.jadwal {
    height: 4em;
    width: 10em;
    position: relative;
    top: 20em;
    margin-left: 1%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: rgb(0, 0, 0);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Noto serif';
    transition: 0.2s;
    font-size: clamp(1px, 2vw, 15px);
}

.jadwal:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: white;
    transition: 0.2s;
    cursor: none;
}
