body {
    cursor: none;
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: white;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot, .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 200;
    pointer-events: none;
}

.hover-cursor {
    width: 7px;
    height: 7px;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border: solid 7px rgb(255, 255, 255);
    z-index: 200;
}

.hover-cursor-a {
    width: 7px;
    height: 7px;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border: solid 7px rgb(255, 255, 255);
    z-index: 200;
}

.cursor-hide {
    display: hide;
}