.container-mapel {
    padding-top: 5em;
    padding-left: 1em;
}

.matematika-button {
    background-color: transparent;
    position: relative;
    border: 0px;
    font-size: clamp(1px, 7.3vw, 70px);
    font-family: "noto serif";
    text-align: left;
    color: white;
}
.matematika-button:after {
    content: "";
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 0;
    left: 0;
    top: 1.2em;
    bottom: -1px;
    transition: 0.4s; 
    cursor: none;
}
.matematika-button:hover:after{
    width: 100%;
    cursor: none;
}
 
.ipa-button {
    background-color: transparent;
    position: relative;
    border: 0px;
    font-size: clamp(1px, 7.3vw, 70px);
    font-family: "noto serif";
    text-align: left;
    color: white;
}
.ipa-button:after {
    content: "";
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 0;
    left: 0;
    top: 1.2em;
    bottom: -1px;
    transition: 0.4s; 
    cursor: none;
}
.ipa-button:hover:after{
    width: 100%;
    cursor: none;
}

.english-button {
    background-color: transparent;
    position: relative;
    border: 0px;
    font-size: clamp(1px, 7.3vw, 70px);
    font-family: "noto serif";
    text-align: left;
    color: white;
}
.english-button:after {
    content: "";
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 0;
    left: 0;
    top: 1.2em;
    bottom: -1px;
    transition: 0.4s; 
    cursor: none;
}
.english-button:hover:after{
    width: 100%;
    cursor: none;
}

.bahasa-button {
    background-color: transparent;
    position: relative;
    border: 0px;
    font-size: clamp(1px, 7.3vw, 70px);
    font-family: "noto serif";
    text-align: left;
    color: white;
}
.bahasa-button:after {
    content: "";
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 0;
    left: 0;
    top: 1.2em;
    bottom: -1px;
    transition: 0.4s; 
    cursor: none;
}
.bahasa-button:hover:after{
    width: 100%;
    cursor: none;
}